Chameleon==2.11
Fabric==1.4.3
Mako==0.8.0
MarkupSafe==0.15
PasteDeploy==1.5.0
Pygments==1.5
WebOb==1.2.3
passlib==1.6.1
pycrypto==2.6
pyramid==1.4.1
pyramid-debugtoolbar==1.0.2
python-dateutil==2.1
pytz==2012j
repoze.lru==0.6
six==1.2.0
ssh==1.7.14
translationstring==1.1
venusian==1.0a8
waitress==0.8.1
wsgiref==0.1.2
zope.deprecation==4.0.2
zope.interface==4.0.5
#not sure if we should be listing ourselves as a requirement
-e git+git@dancingmammoth.beanstalkapp.com:/deepbills.git@01691f74683648cb795bbf82df69253210e333e6#egg=deepbills-dev
